body {
    background:url(../img/fondo.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    color: #fff;
    background-position:center 0;
    background-size: cover;
}

#img{
    width: 100px;
    height: 450px;
    padding-bottom: 15px;
  }

.search_input{
    width: 250px;
}

.equipos_armados{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 53px;
    color: snow;
    font-family: 'Bebas Neue', cursive; 
    text-align: center;
}

.btn_see_more{
    text-align: center;
}

.btn_font{
    font-family: 'Bebas Neue', cursive; 
    font-size: 20px;
    background-color: rgb(4, 94, 168);
}

p{
    font-size: 24px;
    text-align: center;
    padding: 10px 30% 10px 30%;
}


hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width:40%;
    max-height: 0;
    font-size: 1px;
    box-shadow: 0px 0px 30px snow;
    line-height: 0;
    clear: both;
    opacity: 90%;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid azure;
 }
.contacto{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 53px;
    color: snow;
    font-family: 'Bebas Neue', cursive; 
    text-align: center;
}

.sobrenosotros{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 53px;
    color: snow;
    font-family: 'Bebas Neue', cursive; 
    text-align: center;
}

.producto{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 53px;
    color: snow;
    font-family: 'Bebas Neue', cursive; 
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px; 
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}



/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }